@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import '@radix-ui/themes/styles.css';
@import './theme-config.css';

@layer utilities {
  .h-hero {
    min-height: calc(100vh - 73px);
    min-height: calc(100svh - 73px);
  }

  .min-h-screen {
    min-height: 100vh;
    min-height: 100svh;
  }
}

#CookiebotWidget {
  bottom: 16px !important;
  left: 16px !important;
  min-width: 32px !important;
  min-height: 32px !important;
}

@media (min-width: 1024px) {
  #CookiebotWidget {
    bottom: 20px !important;
  }
}

#CookiebotWidget:not(.CookiebotWidget-open):hover {
  box-shadow: none !important;
}

#CookiebotWidget .CookiebotWidget-logo svg circle {
  fill: #e54666 !important;
}

html.light
  #CookiebotWidget:not(.CookiebotWidget-open):hover
  .CookiebotWidget-logo
  svg
  circle {
  fill: #dc3b5d !important;
}

html.dark
  #CookiebotWidget:not(.CookiebotWidget-open):hover
  .CookiebotWidget-logo
  svg
  circle {
  fill: #ec5a72 !important;
}

#CookiebotWidget:not(.CookiebotWidget-open) button.CookiebotWidget-logo svg {
  width: 32px !important;
  height: 32px !important;
}

#CookiebotWidget .CookiebotWidget-logo svg path {
  fill: #ffffff !important;
}

.grecaptcha-badge {
  visibility: hidden !important;
}
